
.notFound{
    margin-top: 150px;
    font-size: 54px;
    color: red;
    text-align: center;   
}
h2{
    margin-bottom: 100px;
}
p{
    font-style: italic;
    margin-top: 50px;
    font-size: 24px;  
}
.link {
    color: #314584;
	text-decoration: none;
	font-size: 24px;
  }