.header {
	display: flex;
	justify-content: center;
  }
  
  .header .nav {
	background-color: #314584;
	max-width: 1110px;
	width: 90%;
	height: 70px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 0 12px;
  
	display: flex;
	align-items: center;
  }
  
  .header .navList {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
  }
  
  .header .navList .link {
	color: white;
	text-decoration: none;
	font-size: 14px;
  }

  .header .navList .link:hover{
	color: #ff3946;
  }
  .header .navItem{
    list-style: none;
  }
.profile {
	color: #314584;
	font-size: 24px;
	font-weight: 600;
	border: 2px solid #314584;
	border-radius: 8px;
	padding: 10px;
	display:inline-block;
	margin-top: 20px;
	margin-left: 10%;
	cursor: pointer;
}
  